@font-face {
  font-family: 'Century Gothic';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/CenturyGothic.woff') format('woff');
}

@font-face {
  font-family: 'Century Gothic Bold';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/CenturyGothic-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Century Gothic Bolditalic';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/CenturyGothic-Bolditalic.woff') format('woff');
}

@font-face {
  font-family: 'Century Gothic Italic';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/CenturyGothic-Italic.woff') format('woff');
}